@font-face {
    font-family: iranSans;
    src: url(asset/fonts/iranyekanwebbold.woff);
    font-weight: bold;
  }
  @font-face {
    font-family: iranSans;
    src: url(asset/fonts/iranyekanweblight.ttf);
    font-weight: 500;
  }
body{
    font-family: iranSans !important;
    font-weight: 500;
    
}